.button {
  border: 0;
  background-color: #5aac44;
  width: 100%;
  cursor: pointer;
  color: white;
  border-radius: 0.3em;
  font-weight: bold;
  padding: 0.6em 1.3em;
  transition: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}

.small {
  padding: 6px 12px;
  font-weight: 400;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  line-height: 20px;
}

.button:hover {
  background: #61bd4f;
}

.button:disabled {
  cursor: not-allowed;
  background-color: #f4f5f7;
  color: #afadba;
}
