.form {
  padding: 0 8px;
  padding-bottom: 8px;
}

.textarea {
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  background: none;
  border: none;
  box-shadow: none;
  margin-bottom: 4px;
  max-height: 162px;
  min-height: 54px;
  width: 100%;
  color: #172b4d;
  line-height: 20px;
  font-weight: 400;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

.card {
  display: flex;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  padding: 6px 8px 2px;
}

.actions {
  display: flex;
  gap: 8px;
}
