.columns {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}

.column:first-child {
  margin-left: 8px;
}

.column {
  margin: 0 4px;
  min-width: 272px;
  max-width: 272px;
  vertical-align: top;
  white-space: nowrap;
  overflow: auto;
}

.cardList {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-height: 100%;
  min-height: 100px;
  white-space: normal;
}

.columnHeader {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  cursor: pointer;
  gap: 4px;
}

.moreButton {
  align-self: flex-start;
}

.columnTitle {
  width: 100%;
  word-wrap: break-word;
  font-weight: 600;
  line-height: 20px;
  color: #172b4d;
  padding: 4px 8px;
  box-sizing: border-box;
  min-height: 20px;
  max-height: 256px;
  overflow-x: hidden;
  overflow-y: auto;
  border: none;
  outline: none;
  background-color: transparent;
  resize: none;
  border-radius: 3px;
}

.columnTitle:focus {
  box-shadow: inset 0 0 0 2px #0079bf;
  background-color: white;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footerButton {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  flex: 1 0 auto;
  margin: 0 4px;
  margin-bottom: 8px;
  padding: 4px 8px;
  user-select: none;
  color: #5e6c84;
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 4px;
}

.footerButton:hover {
  cursor: pointer;
  background-color: #091e4214;
  color: #172b4d;
}

.footerButton:active {
  background-color: #091e4221;
}

.footerButtonText {
  color: inherit;
}

.list {
  margin: 0 4px;
  padding: 0 4px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  cursor: pointer;
  margin-bottom: 8px;
  min-height: 20px;
  text-decoration: none;
  padding: 6px 8px 2px;
}

.card:hover {
  background-color: #f4f5f7;
}

.details {
  overflow: hidden;
  color: #172b4d;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 4px;
}

.draggingCard {
  box-shadow: 0 12px 24px -6px #091e4240, 0 0 0 1px #091e4214;
}

.draggingColumn {
  box-shadow: 0 12px 24px -6px #091e4240, 0 0 0 1px #091e4214;
  /* transform: rotate(4deg); */
  /* cursor: grabbing; */
}
