.container {
  background-color: #0079bf;
  display: flex;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.board {
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: hidden;
  user-select: none;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.columns {
  display: flex;
}

.column:first-child {
  margin-left: 8px;
}

.column {
  height: 100%;
  margin: 0 4px;
  width: 272px;
  vertical-align: top;
  white-space: nowrap;
}
