.container {
  background-color: #0079bf;
  display: flex;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.board {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  overflow-x: auto;
  overflow-y: hidden;
  user-select: none;
  margin-bottom: 8px;
  padding-bottom: 8px;
}
