.container {
  background-color: #0079bf;
  display: flex;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.board {
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: hidden;
  user-select: none;
  margin-bottom: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.columns {
  display: flex;
}

.column:first-child {
  margin-left: 8px;
}

.column {
  height: 100%;
  margin: 0 4px;
  width: 272px;
  vertical-align: top;
  white-space: nowrap;
}

.cardList {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  white-space: normal;
}

.columnHeader {
  min-height: 20px;
  padding: 8px 12px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.columnName {
  display: flex;
  flex-grow: 1;
  font-weight: 600;
  line-height: 24px;
  color: #172b4d;
}
