.react-contextmenu {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
  overflow: hidden;
  background-clip: padding-box;
  color: #373a3c;
  width: 304px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease !important;
  padding-bottom: 12px;
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 9999;
}

.react-contextmenu-item {
  background: 0 0;
  border: 0;
  color: #091e42;
  cursor: pointer;
  font-weight: 400;
  line-height: 20px;
  padding: 6px 12px;
  text-align: inherit;
  white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  background-color: #091e420a;
  text-decoration: none;
  outline: 0;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
  color: #878a8c;
}

.react-contextmenu-item--divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  cursor: inherit;
  margin-bottom: 3px;
  padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
}

.example-multiple-targets::after {
  content: attr(data-count);
  display: block;
}

.menu-header {
  height: 40px;
  margin-bottom: 8px;
  text-align: center;
}

.menu-header-title {
  border-bottom: 1px solid #091e4221;
  box-sizing: border-box;
  color: #5e6c84;
  line-height: 40px;
  margin: 0 12px;
  padding: 0 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
}
