.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
}

.root {
  background-color: transparent;
  padding: 20px;
  margin: 48px 0px;
  width: fit-content;
  height: fit-content;
}
