.container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.content {
  margin: 40px 16px 0;
  max-width: 825px;
  min-width: 288px;
  width: 100%;
}

.title {
  font-weight: 700;
  line-height: 24px;
  text-overflow: ellipsis;
  font-size: 16px;
  margin: 20px 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2%;
}

.item {
  width: 23.5%;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 2%;
  position: relative;
}

.tile {
  background-color: rgb(0, 121, 191);
  border-radius: 3px;
  display: block;
  padding: 8px;
  text-decoration: none;
  position: relative;
}

.details {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
}

.name {
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 20px;
  word-wrap: break-word;
}

.addButton {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #091e420a;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
}

.addButton:hover {
  background-color: #091e4214;
  box-shadow: none;
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-weight: 400;
  color: #172b4d;
  line-height: 20px;
}

.fade {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.fade:hover {
  background-color: #00000026;
}
