.header {
  background-color: #026aa7;
  box-sizing: border-box;
  display: flex;
  max-height: 40px;
  padding: 4px;
  justify-content: center;
  width: 100%;
}

.content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.loading {
  width: 80px;
  height: 16px;
  margin: 7px 0;
  opacity: 0.5;
}

.loading:hover {
  opacity: 0.8;
}

.menuButton {
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
  color: white;
  font-weight: bold;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin: 0 4px 0 0;
  white-space: nowrap;
  text-decoration: none;
}

.menuButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
  cursor: pointer;
}

.icon {
  color: inherit;
}

.menuButtons {
  display: flex;
  width: 10%;
}

.justifyEnd {
  justify-content: flex-end;
}
