.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 24px;
}

.body {
  width: 100%;
}

.content {
  max-width: 400px;
  margin: 0 auto;
}

.form {
  background-color: white;
  margin: 0 auto;
  padding: 25px 40px;
  margin-bottom: 30px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}

.title {
  text-align: center;
  letter-spacing: -0.01em;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.separator {
  text-align: center;
  font-size: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
}
